

<div class="container">
  
  <h2>All galleries:</h2>

  <form #filterForm="ngForm" (ngSubmit)="filterGallery(filterTerm)" class="form-inline my-2 my-lg-0">
<input class="form-control mr-sm-2" type="search" name="filterTerm" placeholder="Filter galleries" aria-label="Search" [(ngModel)]="filterTerm">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
</form>
  
    <hr>
    <ul *ngFor="let gallery of galleries">
      <li class="list-group-item"><strong>Name:</strong> <a routerLink = "/galleries/{{gallery.id}}">{{ gallery.name }}</a></li>
      <li class="list-group-item"><strong>Description:</strong> {{ gallery.description }}</li>
      <li class="list-group-item"><strong>Created by:</strong> <a routerLink = "/authors/{{gallery.user_id}}">{{ gallery.user.firstName }}  {{ gallery.user.lastName}}</a> </li>
      <li class="list-group-item"><strong>Created at:</strong> {{ gallery.created_at | date: "yyyy-mm-dd" }}</li>
      <li class="list-group-item"><strong>Images:</strong> <a href="{{ gallery.images[0].url }}">{{ gallery.images[0].url }}</a>, ...</li>
    </ul>
  <hr>
</div>